body {
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    top:0;
    margin-top:0;
    padding-top:0;
}
.inline {
    display: inline-block;
}
.sl {
    font-size: 40px;
    margin: 40px;
    height: 600px;
}
.sl__face {
    margin-left: 2.2em;
    width: 6em;
}
.sl__circle {
    border-radius: 50%;
    background-color: #bbb;
    width: 10em;
    height: 10em;
    position: absolute;
}
.sl__circle--1 {
    margin-left: 0em;
    background-color: #ffc21f;
    z-index: 10;
}
.sl__circle--2 {
    margin-left: 1.8em;
    background-color: #f0b10a;
    z-index: 9;
}
.sl__circle--3 {
    margin-left: 3.6em;
    background-color: #d09701;
    z-index: 8;
}
.sl__circle--4 {
    margin-left: 5.4em;
    background-color: #b78500;
    z-index: 7;
}
.sl-pixel {
    height: 1em;
    width: 1em;
    background-color: #6e0fcf;
    margin: 0;
    margin-left: -0.25em;
    padding: 0;
}
.sl__eye--left {
    display: inline-block;
    float: left;
    margin-top: 1.8em;
    margin-left: 1em;

}
.sl__eye--right {
    display: inline-block;
    float: left;
    margin-top: 1.8em;
    margin-left: 2em;

}
.sl__mouth--main {
    display: inline-block;
    margin-left: 1em;
    margin-top: 2em;
    height: 1em;
}
.sl__mouth--sad {
    margin-left: 0em;
    margin-top: -0.27em;
}
.sl__mouth--sad .sl__2 {
    margin-left: 3.75em;
}
.sl-sadlan {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 3.4em;
    font-weight: 700;
    margin-top: 3em;
    position: absolute;
}
.sl-sadlan .sl-eight {
    font-weight: 100;
}

.sadlan-logo {
    width: 620px;
    margin: 0 auto;
    padding-top: 50px;
}

.center {
    margin: 0 auto 0 auto;
}

.text-center {
    text-align: center;
}

.date {
    font-size: 30px;
}


.hero {
    background-color: #6e0fcf;
}

@-webkit-keyframes slidein {
    0% {
        height: 100vh;
    }

    100% {
        height: 90vh;
    }
}

.hero__inside {
    height: 100vh;
    -webkit-animation: 1s 1s slidein ease-out;
    -webkit-animation-fill-mode: forwards;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-name: slidein;
    animation-fill-mode: forwards;
}

.part-2 {
    margin-top:5px;
    height: 90vh;
    padding-top: 60px;
    background-color: #fff;
    background: url(../images/sadlan-6-blur-1.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card {
    padding: 40px;
    width: 600px;
    margin: 60px auto 0 auto;
    background-color: #fff;
    color: #000;
}

.icon-circle {
    background-color: #fff;
    border-radius: 50%;
    color: #444;
    margin: 15px;
    font-size: 30px;
}


.arrow-scroll {
    position: absolute;
    bottom: -10vh;
    width: 60px;
    height: 60px;
    margin: 0 auto;
    left: 48%;
    -webkit-animation: 1s 1s appear ease-out;
    -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes appear {
    0% {
        bottom: -10vh;
    }

    100% {
        bottom: 10vh;
    }
}


@media (max-width: 480px) {
    .sadlan-logo {
        width: 98%;

    }
    .sl {
        font-size: 19px;
        height: 300px;
    }
    .center {
        margin: 0;
    }
    .text-center {
        text-align: left;
    }
    .date {
        font-size: 20px;
    }
    .card {
        width: 90%;
        box-sizing: border-box;
    }
}

@media (min-width:481px) and (max-width: 980px) {
    .sadlan-logo {
        width: 475px;

    }

    .sl {
        font-size: 30px;
    }

    .center {
        margin: 0;
    }

    .text-center {
        text-align: left;
    }

    .date {
        font-size: 20px;
    }
}